
/* gris oscuro = #1d252c */
/* gris claro = #626262 */
/* background gris = #1b2127 */
/* celeste = #026fff */

/* Font icons */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?7c9ot3');
  src:  url('../fonts/icomoon.eot?7c9ot3#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7c9ot3') format('truetype'),
    url('../fonts/icomoon.woff?7c9ot3') format('woff'),
    url('../fonts/icomoon.svg?7c9ot3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 50px;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-comment:before {
  content: "\e901";
}
.icon-envelop:before {
  content: "\e902";
}
.icon-help:before {
  content: "\e903";
}
.icon-info:before {
  content: "\e904";
}
.icon-row-left:before {
  content: "\e905";
}
.icon-row-down:before {
  content: "\e906";
}
.icon-row-right:before {
  content: "\e907";
}
.icon-row-up:before {
  content: "\e908";
}
.icon-twitch:before {
  content: "\e909";
}
.icon-codepen:before {
  content: "\e90a";
}
.icon-instagram:before {
  content: "\e90b";
}
.icon-github:before {
  content: "\e90c";
}
.icon-facebook:before {
  content: "\e90d";
}
.icon-twitter:before {
  content: "\e90e";
}
.icon-menu:before {
  content: "\e900";
}

body {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
}

h1, 
h2,
h3,
h4,
h5,
h6{
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  /* font-style: italic; */
}

h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -.2px;
  color: rgb(235, 236, 238);
  margin: 0;
  /* margin: 100px 150px 70px 30px; */
  /* text-transform: uppercase; */
  /* text-decoration: dashed; */
}
h1 strong {
  color: #0f4b9e;
}
h2 {
  color: #0f4b9e;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 40px;
}
.menu li{
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  color: white;
  opacity: 0.9;
  transition: all 0.9s ease-in linear;
}
.menu li :hover{
  color: #0f4b9e;
  transition: all 0.9s ease-in-out;
  transform: scale3d(1.2, 1.2, 1.2);
}
.hero {
  height: 300px;
  /* background-image: url('../images/hero.jpg'); */
  background-color: #1b2127;
  /* background-size: 500px 300px; */
  /* background-repeat: no-repeat; */
  /* background-position-x: right; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-image{
  object-fit:cover;
}

.portfolio {
  background: #fafafa;
  padding: 20px;
  /* background: red; */
}

.project {
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 5px 0px #B2B2B2;
  flex-wrap: wrap;
}
.project-course,
.project-date,
.project-url {
  margin: 10px 0;
}
.project-description {
  font-size: 20px;
}
.project strong {
  font-family: 'Oswald', sans-serif;
}

.project-title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

.project-details {
  width: 50%;
}

.project-imageContainer {
  width: 50%;
}
.project-imageContainer img{
  max-width: 100%;
}

.header {
  background-color: #1b2127;
  color: rgb(235, 236, 238);
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

.header a {
  color: rgb(235, 236, 238);
  text-decoration: none;
}
.menu {
  height: inherit;
}
.header ol {
  display: flex;
  height: inherit;
}
.header ol li {
  height: inherit;
}
.header a {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 20px;
}

.flexbox {
  display: flex;
  /* flex-wrap: nowrap; */
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.box {
  width: 50px;
  height: 50px;
  margin: 5px;
  /* border: 1px solid red; */
  flex-shrink: 0;
}

.footer {
  color: rgb(235, 236, 238);
  background-color: #1b2127;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer img {
  vertical-align: middle;
}

.footer a {
  color: rgb(235, 236, 238);
}

.event-list {
  display: flex;
  flex-wrap: wrap;
}
.event-list-title {
  margin-left: 20px;
}
.event { 
  margin: 1%;
  width: 48%;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  background: #F2F2F2;
  box-shadow: 0px 0px 5px 0px #B2B2B2;
}
.event img {
  width: 480px;
  height: 200px;
  object-fit: cover;
}
.event-detail {
  border-radius: 5px;
  margin: 20px 40px;
  margin-top: -40px;
  color: #0A1A30;
  position: relative;
  padding: 20px;
  text-align: center;
}
.event-description {
  text-align: left;
}

.event-url {
  color:#0A1A30;
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
  text-decoration: none;
  opacity: 0.9;
  transition: 0.4s;
}
.event-url:hover{
  color: rgb(235, 236, 238);
  background-color: #0A1A30;
  transition: all 0.4s ease-in-out;
}

.contact {
  background-color: #0A1A30;
  color: rgb(235, 236, 238);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 0 10px 20px;
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
  text-decoration: none;
  color:rgba(0,0,0,0.9);
  opacity: 0.9;
  transition: 0.9s;
}
.social-link:hover{
  color: rgb(235, 236, 238);
  transition: all 0.9s ease-in-out;
  /*transform: scale(0.7);*/
  transform: scale3d(1.2, 1.2, 1.2);
} 

/* .menu li{
  color: white;
  opacity: 0.9;
  transition: 0.5s;
}
.menu li :hover{
  color: #40d4df;
  transition: all 1s ease-in-out;
} */

/* .social-ico icon-twitter {
  width: 100%;
} 
.social-link.facebook {
  background-image: url('../images/facebook.svg');
}
.social-link.github {
  background-image: url('../images/github.svg');
}
.social-link.instagram {
  background-image: url('../images/instagram.svg');
}*/

.burger-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .8);
  display: none;
  line-height: 40px;
  text-align: center;
  position: fixed;
  z-index: 4;
  left: 5px;
  top: 5px;
  color: white;
  font-size: 20px;
}

.form-email input {
  border: 1px solid rgb(235, 236, 238, .9);
  background: rgba(0,0,0,0.9);
  border-style: solid;
  border-radius: 5px;
  padding: 10px 10px 10px 25px;
  background-image: url('../images/envelope.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
  width: 250px;
}

.form-email button {
  display: block;
  background: transparent;
  border: 1px solid white;
  color: rgb(235, 236, 238, .9);
  padding: 10px 0;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.3s;
}
.form-email button:hover{
  color:rgba(0,0,0,0.9);
  background-color: rgb(235, 236, 238);
  transition: all 0.4s ease-in-out;  
}

.form-email h3 { 
  font-family: 'Oswald', sans-serif;
}

.container {
  max-width: 1000px;
  /* width: 100%; */
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}
/* Desktop first de 1024 a 320 */
@media screen and (max-width: 1023px){
  .portfolio{
    padding: 0;
  }
  .container{
    padding: 0 1em;
  }
  .hero{
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em;
  }
  .hero-image{
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  h1{
    font-size: 1.5em;
    z-index: 2;
  }
}
.html-video{
  border-radius: 5px;
  width: 100%;
  height: auto;
}
.flexible-video{
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  position: relative;
}
.youtube-video{
  border: 0;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px){
  .burger-button{
    display: block;
  }
  .header{
    display: block;
    height: auto;
  }
  .header ol{
    display: block;
  }
  .header ol li{
    height: 50px;
    text-align: center;
  }
  .header a{
    justify-content: center;
    height: 40px;
    font-size: 2em;
    margin-bottom: 5px;
  }
  .header .logo {
    text-align: center;
  }
  .menu{
    position: fixed;
    background-color:rgba(9, 37, 73, .8);
    z-index: 3;
    top: 0;
    left: -100vw;
    width: 100vw;
    bottom: 0;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-out; 
  }
  .menu.is-active{
    left: 0;
  }
  .project{
    display: block;
  }
  .project-imageContainer{
    width: auto;
    text-align: center;
  }
  .project-details{
    width: auto;
  }
  .project-course, .project-date, .project-url{
    margin: .3em 0;
  }
  .project-title{
    font-size: 1.5em;
    margin-bottom: 0.3em;
  }
  .project-url{
    font-size: 1em;
  }
  .project-course{
    font-size: 0.7em;
  }
  .project-date{
    font-size: 1em;
  }
  .project-description{
    font-size: 1em;
  }
  .event{
    width: auto;
    flex-shrink: initial;
  }
  .event img{
    width: 100%;
  }
}

@media screen and (max-width: 480px){
  h1{
    font-size: 1.5em;
  }
  .project-details{
    width: auto;
    font-size: 16px;
  }
  .event-detail{
    margin: -2em .5em .5em;
    padding: 1em;
  }
  .contact{
    height: auto;
    padding: 1.5em 0;
    text-align: center;
    display: block;
  }
  .form-email button{
    margin: 1em auto;
  }
  .form-email h3{
    margin-top: 0;
  }
  .footer{
    display: block;
    text-align: center;
    border: 1px solid transparent;
  }
  .social-link{
    width: 35px;
    height: 35px;
    justify-content: space-between;
    background-size: 100%;
  }
}

@media screen and (max-width: 320px){
  h1{
    font-size: 1.2em;
    background: rgba(0,0,0,0.4);
  }
  .hero{
    padding: 2em 1em;
  }
}
